.containerLog {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
}
.containerLog {
  background-image: url("../../../assets/img/wire.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.containerLogin__img img {
  margin: 30px 30px 0 30px;
  width: 200px;
}
.containerLogin__img p {
  width: 250px;
  margin-left: 30px;
  color: var(--color6);
  font-size: 14px;
  font-weight: lighter;
  margin-top: 35px;
}

.containerLogin__form {
  padding: 40px 0;
  /* width: 450px; */
}

@media screen and (max-width: 50em) {
  .containerLog {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr;
  }
  .containerLogin__form {
    justify-self: center;
  }
  .containerLogin__img {
    display: none;
  }
}
