.change {
  padding: 0px 60px;
}
.change__containerImg {
  /* background-image: url("../../assets/img/user.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 30px gray;
  margin: auto;
}
#inputFile[type="file"] {
  display: none;
}
.label {
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  font-size: 12px;
  /* background-color: red; */
}
.imageUp {
  background: linear-gradient(var(--secondary), #405267);
  color: var(--text);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}
.imageUp i {
  margin-left: 5px;
}
.change__btn {
  margin-top: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--text);
  font-size: 16px;
  background: linear-gradient(var(--secondary), #405267);
}
.change__btn:disabled {
  display: none;
}
