.ChangePassword {
  padding: 15px 30px;
}
.ChangePassword__btn button {
  padding: 6px 20px;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  border: none;
}
.ChangePassword__btnS {
  background: linear-gradient(var(--secondary), #405267);
}
.ChangePassword__btnC {
  background: linear-gradient(var(--primary), #405267);
}
