.EditPerfil {
  padding: 15px 0 0 30px;
}
.EditPerfil h2 {
  margin: 0;
}
.EditPerfil h3 {
  text-align: start;
  margin: 0;
}
.EditPerfil__btn {
  margin-bottom: 20px;
}
.EditPerfil__btn button {
  padding: 6px 20px;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  border: none;
}
.EditPerfil__btnG {
  background: linear-gradient(var(--secondary), #405267);
}
.EditPerfil__btnC {
  background: linear-gradient(var(--primary), #405267);
}
.form__InputDate {
  width: 85%;
  overflow: hidden;
  font-size: 20px;
  padding: 5px 0 5px 15px;
  margin: 15px 0;
  border-bottom: 1px solid var(--secondary);
}
.form__InputDate .formControl {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  width: 100%;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: rgba(199, 23, 140, 0.521);
  border-radius: 5px;
} */
