.EditPerfil {
  padding: 15px 0 0 30px;
}
.EditPerfil h2 {
  margin: 0;
}
.EditPerfil h3 {
  text-align: start;
  margin: 0;
}
.EditPerfil__btn {
  margin-bottom: 20px;
}
.EditPerfil__btn button {
  padding: 6px 20px;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  border: none;
}
.EditPerfil__btnG {
  background: linear-gradient(var(--secondary), #405267);
}
.EditPerfil__btnC {
  background: linear-gradient(var(--primary), #405267);
}
