.ChangePassword {
  padding: 15px 30px;
}
.ChangePassword__form {
  text-align: start;
}
.ChangePassword__btn {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.ChangePassword__btn button {
  padding: 6px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--color6);
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.ChangePassword__btnS {
  background: linear-gradient(var(--color4), var(--color3));
}
.ChangePassword__btnC {
  background: linear-gradient(var(--color3), var(--color2));
}
