.Header {
  text-align: center;
  background-color: #b6cbe4;
  height: auto;
  width: 100%;
  padding: 18px;
  margin: auto;
  border-bottom: 4px solid #950fbc;
  position: fixed;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.Logo {
  max-height: 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #479587;
  color: white;
  min-width: 150px;
  padding: 10px;
  margin: 0 16px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 8px;
}

/* Dropdown Button */
.btn {
  /* background-color: #950fbc; */
  /* background-color: #ef7e32; */
  background-color: #479587;
  color: white;
  min-width: 150px;
  padding: 10px;
  margin: 16px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 8px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover {
  background-color: #f6b891;
  border: 2px solid #950fbc;
  color: #479587;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f6b891;
  border: 2px solid #950fbc;
  color: #479587;
}

.formControl {
  width: 350px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}