.ButtonModalS {
  border: none;
  background: var(--primary);
  padding: 10px 15px;
  border-radius: 50px;
  color: var(--text);
  font-size: 16px;
  height: 40px;
  text-decoration: none;
}
.ButtonModalS__text {
  margin-right: 5px;
}
@media screen and (max-width: 1029px) {
  .ButtonModalS__text {
    display: none;
  }
}
