.btnGoogle {
  margin: 15px 0;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--color6);
  font-size: 14px;
  border: none;
  background: linear-gradient(var(--color4), var(--color3));
  padding: 0 15px;
  text-align: start;
}
.btnGoogle i {
  margin-left: 10px;
  float: right;
}
@media screen and (max-width: 425px) {
  .btnGoogle {
    width: 90%;
  }
}
