.form__Input {
  width: 90%;
  overflow: hidden;
  font-size: 20px;
  padding: 5px 0;
  margin: 15px 0;
  border-bottom: 1px solid var(--secondary);
}
.form__Input i {
  width: 26px;
  float: right;
  text-align: center;
  color: var(--secondary);
  filter: grayscale(20%) opacity(1);
}
.form__Input .formControl {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  width: 82%;
}
.form__Link {
  padding: 8px 57px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(var(--secondary), #405267);
  color: var(--text);
  font-size: 14px;
}
.form__span {
  color: var(--secondary);
  font-weight: bolder;
  filter: grayscale(20%) opacity(1);
  text-shadow: 0 0 28px var(--secondary);
}
.forgotPassword {
  color: gray;
  margin-top: 20px;
}
.forgotPassword a {
  color: var(--secondary);
  filter: grayscale(20%) opacity(1);
  font-weight: bolder;
  text-decoration: none;
}
